<!DOCTYPE html>
<html>
  <head>
    <title>WorkoutZone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="level">
      <ul>
        <%= link_to "Home", root_path, class: "level.item" %> | 
        <%= link_to "About", workout_zone_about_path, class: "level.item" %> | 
        <%= link_to "Category", gyms_path, class: "level.item" %> |
        <%= link_to "Sign In", users_new_path, class: "level.item" %>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
